.container {
    width : 768px;
    height : 100%;
    margin : auto;
    padding : 2rem;

    .post {
        height : 268px;
        padding-inline : 1.5rem;
        border : 1px solid #ddd;
    }

    .PostList::-webkit-scrollbar {
        //display : none;
    }
}

